<html lang="en">

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

  <title>Cricbuzz</title>
</head>
<script>

var page = 1;
var isLoading = false;

  var globalresponse;
  function MyFunction(callback) {
    $.ajax({
      type: "POST",
      contentType: "application/json; charset=utf-8",
      async: true,
      url: "/demo",
      dataType: "json",
      success: function (response) {
        globalresponse = response;
        callback(globalresponse);
      },
      failure: function (response) {
        alert(response.d);
      },
      error: function (response) {
        alert(response.d);
      },
      complete: function (response) {
      }
    });
  }
  function loadmore() {
    MyFunction(function (response){
    
    // Access the response inside the callback
    const { titles, links, subs, newstimes, imgs, category, event, nexturl, } = response;


    var container = document.getElementById('container');
    
    // Loop through the data arrays and create HTML elements
    for (var i = 0; i < titles.length; i++) {
      // Create the image container element
      var imageContainer = document.createElement('div');
      imageContainer.className = 'cb-col cb-col-33 cb-pos-rel';
      imageContainer.setAttribute('itemscope', '');
      imageContainer.setAttribute('itemtype', 'https://schema.org/ImageObject');
      imageContainer.setAttribute('itemprop', 'image');

      // Create the image element
      var image = document.createElement('img');
      image.height = '152';
      image.width = '205';
      image.alt = 'File Photo:';
      image.title = 'File Photo:';
      image.setAttribute('itemprop', 'image');
      image.className = 'cb-lst-img';
      image.src = imgs[i];
      image.style.padding = '0px';

      // Create the link element image links
      var link = document.createElement('a');
      link.target = '_self';
      link.href = links[i];
      link.title = 'Link Title';
      link.appendChild(image);

      // Append the link to the image container
      imageContainer.appendChild(link);

      // Create the text container element
      var textContainer = document.createElement('div');
      textContainer.className = 'cb-col-67 cb-nws-lst-rt cb-col cb-col-text-container';

      // Create the category element
      var categoryElement = document.createElement('div');
      categoryElement.className = 'cb-nws-time';
      var categoryLink = document.createElement('a');
      categoryLink.className = 'cb-text-link';
      categoryLink.title = 'INTERVIEWS';
      categoryLink.textContent = category[i];
      categoryElement.appendChild(categoryLink);
      categoryElement.innerHTML += '<span class="cb-dot">&nbsp;•&nbsp;</span>' + event[i];

      // Create the title element
      var titleElement = document.createElement('h2');
      titleElement.className = 'cb-nws-hdln cb-font-18 line-ht24';
      titleElement.style.backgroundColor = '#b8d7e9';
      var titleLink = document.createElement('a');
      titleLink.className = 'cb-nws-hdln-ancr text-hvr-underline';
      titleLink.target = '_self';
      titleLink.href = '/newsdetils'+links[i];
      // titleLink.datas = links[i];
      titleLink.id = 'myAnchor';
      titleLink.title = 'Test bout';
      titleLink.textContent = titles[i];
      titleElement.appendChild(titleLink);

      // Create the sub element
      var subElement = document.createElement('div');
      subElement.className = 'cb-nws-intr';
      subElement.textContent = subs[i];

      // Create the time element
      var timeElement = document.createElement('div');
      var timeAttribute = document.createElement('span')
      timeAttribute.classList.add('cb-nws-time');
      // timeElement.innerHTML = '<span class="cb-nws-time"></span>';
      timeAttribute.textContent = newstimes[i]
      timeElement.appendChild(timeAttribute)

      // Append all elements to the text container
      textContainer.appendChild(categoryElement);
      textContainer.appendChild(titleElement);
      textContainer.appendChild(subElement);
      textContainer.appendChild(timeElement);
      divcontainer = document.getElementById("newslist")
      // Append the image container and text container to the main container
      divcontainer.appendChild(imageContainer);
      divcontainer.appendChild(textContainer);
      isLoading = false;
    }
  })};


</script>
<body style="background-color: #fff">
<div id="newslist">
  {% for i in titles %}

  <div class="cb-col cb-col-100 cb-lst-itm cb-pos-rel cb-lst-itm-lg">
    <div class="cb-col cb-col-33 cb-pos-rel" itemscope="" itemtype="https://schema.org/ImageObject" itemprop="image">
      <a target="_self" href={{links[loop.index0]}} title="Focussed Karim Janat sets himself up for Test bout"><img height="152"
          width="205"
          alt="File Photo: Karim Janat has had an excellent run with both bat and ball in the domestic first class tournament."
          title="File Photo: Karim Janat has had an excellent run with both bat and ball in the domestic first class tournament."
          itemprop="image" class="cb-lst-img" src="{{imgs[loop.index0]}}" style="padding:0px;"></a>
    </div>
    <div class="cb-col-67 cb-nws-lst-rt cb-col cb-col-text-container">
      <div class="cb-nws-time"><a target="_self" class="cb-text-link"
          title="INTERVIEWS">{{category[loop.index0]}}</a>
        <span class="cb-dot">&nbsp;•&nbsp;</span>{{event[loop.index0]}}
      </div>
      <h2 class="cb-nws-hdln cb-font-18 line-ht24" style="background-color: rgb(184, 215, 233);"><a
          class="cb-nws-hdln-ancr text-hvr-underline" href="/newsdetils{{links[loop.index0]}}"
          title="image title">{{titles[loop.index0]}}</a></h2>
      <div class="cb-nws-intr">{{subs[loop.index0]}}</div>
      <div>
        <span class="cb-nws-time">{{newstimes[loop.index0]}}</span></div>
    </div>
  </div>

  {% endfor %}
</div>


</body>
<script>

  window.addEventListener('scroll', function() {
  var list = document.getElementById("newslist");
  var lastItem = list.lastElementChild;
  var lastItemOffset = lastItem.offsetTop + lastItem.clientHeight;
  var pageOffset = window.pageYOffset + window.innerHeight;

  // Trigger fetchData() when the user reaches the end of the list
  if (pageOffset > lastItemOffset && !isLoading) {
    loadmore();
  }
});

</script>
</html>