<html lang="en">

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

  <title>Cricbuzz</title>
</head>
<script>


  var globalresponse;
  function MyFunction(callback) {
    $.ajax({
      type: "GET",
      contentType: "application/json; charset=utf-8",
      async: true,
      url: "http://127.0.0.1:5000/demo",
      dataType: "json",
      success: function (response) {
        globalresponse = response;
        callback(globalresponse);
      },
      failure: function (response) {
        alert(response.d);
      },
      error: function (response) {
        alert(response.d);
      },
      complete: function (response) {
      }
    });
  }
  function loadmore() {
    MyFunction(function (response){
    

    // const node = document.createTextNode(response);
    // document.createElement("div").append(node)
    // document.getElementsByClassName("loadBtn").append(response)// Access the response inside the callback
    const { titles, links, subs, newstimes, imgs, category, event, nexturl} = response;

    var container = document.getElementById('container');
    
    // Loop through the data arrays and create HTML elements
    for (var i = 0; i < titles.length; i++) {
      // Create the image container element
      var imageContainer = document.createElement('div');
      imageContainer.className = 'cb-col cb-col-33 cb-pos-rel';
      imageContainer.setAttribute('itemscope', '');
      imageContainer.setAttribute('itemtype', 'https://schema.org/ImageObject');
      imageContainer.setAttribute('itemprop', 'image');

      // Create the image element
      var image = document.createElement('img');
      image.height = '152';
      image.width = '205';
      image.alt = 'File Photo:';
      image.title = 'File Photo:';
      image.setAttribute('itemprop', 'image');
      image.className = 'cb-lst-img';
      image.src = imgs[i];
      image.style.padding = '0px';

      // Create the link element image links
      var link = document.createElement('a');
      link.target = '_self';
      link.href = links[i];
      link.title = 'Link Title';
      link.appendChild(image);

      // Append the link to the image container
      imageContainer.appendChild(link);

      // Create the text container element
      var textContainer = document.createElement('div');
      textContainer.className = 'cb-col-67 cb-nws-lst-rt cb-col cb-col-text-container';

      // Create the category element
      var categoryElement = document.createElement('div');
      categoryElement.className = 'cb-nws-time';
      var categoryLink = document.createElement('a');
      categoryLink.className = 'cb-text-link';
      categoryLink.href = '/cricket-news/editorial/interviews';
      categoryLink.title = 'INTERVIEWS';
      categoryLink.textContent = category[i];
      categoryElement.appendChild(categoryLink);
      categoryElement.innerHTML += '<span class="cb-dot">&nbsp;•&nbsp;</span>' + event[i];

      // Create the title element
      var titleElement = document.createElement('h2');
      titleElement.className = 'cb-nws-hdln cb-font-18 line-ht24';
      titleElement.style.backgroundColor = '#b8d7e9';
      var titleLink = document.createElement('a');
      titleLink.className = 'cb-nws-hdln-ancr text-hvr-underline';
      titleLink.target = '_self';
      titleLink.href = '/newsdetils'+links[i];
      // titleLink.datas = links[i];
      titleLink.id = 'myAnchor';
      titleLink.title = 'Test bout';
      titleLink.textContent = titles[i];
      titleElement.appendChild(titleLink);

      // Create the sub element
      var subElement = document.createElement('div');
      subElement.className = 'cb-nws-intr';
      subElement.textContent = subs[i];

      // Create the time element
      var timeElement = document.createElement('div');
      timeElement.innerHTML = '<span class="cb-nws-time">1h ago</span>';

      // Append all elements to the text container
      textContainer.appendChild(categoryElement);
      textContainer.appendChild(titleElement);
      textContainer.appendChild(subElement);
      textContainer.appendChild(timeElement);
      divcontainer = document.getElementById("newslist")
      // Append the image container and text container to the main container
      divcontainer.appendChild(imageContainer);
      divcontainer.appendChild(textContainer);
    }


  })};



</script>
<body style="background-color: #fff">
<div id="newslist">
  {% for i in titles %}

  <div class="cb-col cb-col-100 cb-lst-itm cb-pos-rel cb-lst-itm-lg">
    <div class="cb-col cb-col-33 cb-pos-rel" itemscope="" itemtype="https://schema.org/ImageObject" itemprop="image">
      <a target="_self" href={{links[loop.index0]}} title="Focussed Karim Janat sets himself up for Test bout"><img height="152"
          width="205"
          alt="File Photo: Karim Janat has had an excellent run with both bat and ball in the domestic first class tournament."
          title="File Photo: Karim Janat has had an excellent run with both bat and ball in the domestic first class tournament."
          itemprop="image" class="cb-lst-img" src="{{imgs[loop.index0]}}" style="padding:0px;"></a>
    </div>
    <div class="cb-col-67 cb-nws-lst-rt cb-col cb-col-text-container">
      <div class="cb-nws-time"><a target="_self" class="cb-text-link" href="/cricket-news/editorial/interviews"
          title="INTERVIEWS">{{category[loop.index0]}}</a>
        <span class="cb-dot">&nbsp;•&nbsp;</span>{{event[loop.index0]}}
      </div>
      <h2 class="cb-nws-hdln cb-font-18 line-ht24" style="background-color:#b8d7e9;"><a
          style="color:#020202;" class="cb-nws-hdln-ancr text-hvr-underline" href="/newsdetils{{links[loop.index0]}}"
          title="image title">{{titles[loop.index0]}}</a></h2>
      <div class="cb-nws-intr">{{subs[loop.index0]}}</div>
      <div><span class="cb-nws-time">1h ago</span></div>
    </div>
  </div>
  {% endfor %}
</div>
  <button id="loadBtn" onclick=loadmore()> Load more </button>
<!-- <script>
// Get all anchor tags with the specified class
var anchors = document.getElementsByClassName("cb-nws-hdln-ancr text-hvr-underline");

// Loop through the anchor tags and attach the click event listener to each
for (var i = 0; i < anchors.length; i++) {
  anchors[i].addEventListener("click", function(event) {
    event.preventDefault();  // Prevent the default anchor behavior

    // Extract the href value from the data attribute
    var href = this.getAttribute("links");

    // Make the API request using the href value
    fetch('/newsdetils', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ href: href }) // Send href in the request body
    })
    .then(response => {
      // Handle the API response as needed
      console.log(response);

      window.location.href = '/newsdetils';
    })
    .catch(error => {
      // Handle any errors
      console.error(error);
    });
  });
}
</script>
-->
<!-- <script>
    document.getElementById("myAnchor").addEventListener("click", function(event) {
  event.preventDefault();  // Prevent the default anchor behavior

  // Extract the href value
  var href = this.getAttribute("href");

  // Make the API request using the href value
  fetch('/newsdetils', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({ href: href }) // Send href in the request body
  })
  .then(response => {
    // Handle the API response as needed
    console.log(response);
  })
  .catch(error => {
    // Handle any errors
    console.error(error);
  });
});

</script> -->

</body>

</html>