<div class="cb-col cb-col-100 cb-lst-itm cb-pos-rel cb-lst-itm-lg">
    <div class="cb-col cb-col-33 cb-pos-rel" itemscope="" itemtype="https://schema.org/ImageObject" itemprop="image">
        <meta itemprop="width" content="205">
        <meta itemprop="height" content="152">
        <meta itemprop="url" content="https:/a/img/v1/205x152/i1/c334174/several-batsmen-including-the.jpg"><a
            target="_self"
            href="/cricket-news/126996/bazballs-crossroads-moment-gallant-optimism-or-lack-of-accountability"
            title="Bazball's Crossroads moment: Gallant optimism or lack of accountability?"><img height="152"
                width="205"
                alt="Several batsmen, including the pragmatic Joe Root, succumbed to the same ball despite a second chance."
                title="Several batsmen, including the pragmatic Joe Root, succumbed to the same ball despite a second chance."
                itemprop="image" class="cb-lst-img ng-isolate-scope" style="padding:0px;"
                src="/a/img/v1/205x152/i1/c334174/several-batsmen-including-the.jpg" image-loaded="true"></a>
    </div>
    <div class="cb-col-67 cb-nws-lst-rt cb-col cb-col-text-container">
        <div class="cb-nws-time">MATCH FEATURES<span class="cb-dot">&nbsp;•&nbsp;</span>THE ASHES, 2023</div>
        <h2 class="cb-nws-hdln cb-font-18 line-ht24"><a target="_self" class="cb-nws-hdln-ancr text-hvr-underline"
                href="/cricket-news/126996/bazballs-crossroads-moment-gallant-optimism-or-lack-of-accountability"
                title="Bazball's Crossroads moment: Gallant optimism or lack of accountability?">Bazball's Crossroads
                moment: Gallant optimism or lack of accountability?</a></h2>
        <div class="cb-nws-intr">With several batsmen succumbing to the same ball despite second chances, is Bazball out
            of its depth? Or is this simply an aberration?</div>
        <div><span class="cb-nws-time">Jun 30 2023</span></div>
    </div>
</div>